---
title: 'Find Me Pizza'
---

<section>
	<form method="POST" action="/findmepizza" id="form">
		<fieldset class="person">
			<label for="personCount">How many people?</label>
			<input type="num" placeholder="" name="personCount" id="personCount" value="1">
		</fieldset>
		<fieldset class="slice">
			<label for="sliceCount">How many slices per person?</label>
			<input type="num" placeholder="" name="sliceCount" id="sliceCount" value="2">
		</fieldset>
		<button id="submitForm">Go</button>
	</form>
	<div class="results">
		<ul class="pie-size">
			<li class="medium-pie">M:
				<span>0</span>
			</li>
			<li class="large-pie">L:
				<span>0</span>
			</li>
			<li class="xlarge-pie">XL:
				<span>0</span>
			</li>
		</ul>
	</div>
</section>