<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  {{> body }}
  <!-- build:js /assets/js/script.js -->
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/sound-effects.js"></script>
  <!-- endbuild -->
</body>
</html>