@font-face {
  font-family: 'knowledge';
  src: url('../fonts/knowledge-regular-webfont.eot');
  src: url('../fonts/knowledge-regular-webfont.woff') format('woff'),
       url('../fonts/knowledge-regular-webfont.woff'),
       url('../fonts/knowledge-regular-webfont.ttf') format('truetype'),
       url('../fonts/knowledge-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: 'knowledge-medium';
  src: url('../fonts/knowledge-medium-webfont.eot');
  src: url('../fonts/knowledge-medium-webfont.woff') format('woff'),
       url('../fonts/knowledge-medium-webfont.woff'),
       url('../fonts/knowledge-medium-webfont.ttf') format('truetype'),
       url('../fonts/knowledge-medium-webfont.svg') format('svg');
}

@font-face {
  font-family: 'knowledge-light';
  src: url('../fonts/knowledge-light-webfont.eot');
  src: url('../fonts/knowledge-light-webfont.woff') format('woff'),
       url('../fonts/knowledge-light-webfont.woff'),
       url('../fonts/knowledge-light-webfont.ttf') format('truetype'),
       url('../fonts/knowledge-light-webfont.svg') format('svg');
}

@font-face {
  font-family: 'knowledge-ultralight';
  src: url('../fonts/knowledge-ultralight-webfont.eot');
  src: url('../fonts/knowledge-ultralight-webfont.woff') format('woff'),
       url('../fonts/knowledge-ultralight-webfont.woff'),
       url('../fonts/knowledge-ultralight-webfont.ttf') format('truetype'),
       url('../fonts/knowledge-ultralight-webfont.svg') format('svg');
}